# server variables (runtime variables)
API_BASE_URL=http://localhost:9000
SESSION_COOKIE_NAME=wawa_session
PORTAL_HOST=portal.wawago.app
COMMERCE_WEBSITE_DOMAIN=

# public variables (build time variables)
NEXT_PUBLIC_META_APP_ID=
NEXT_PUBLIC_META_EMBEDDED_SIGNUP_CONFIG_ID=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_DARK_MAP_ID=
NEXT_PUBLIC_GOOGLE_LIGHT_MAP_ID=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
